<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>
    <link rel="stylesheet" href="https://github.com/annetteness/lavender.maniac/blob/project/project/style.css">
    
    <link rel="stylesheet" href="css/fontawesome.min.css">
    
    
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>


    <div class="mainwrapper">
        <header class="header">
            <div class="wrapper">
                <div class="header__img">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="header__info">
                    <div class="header__info__title" style="font:'Montserrat'">
                        Anna Severyna
                    </div>
                    <div class="header__info__subtitle" style="font:'Montserrat'">
                        Junior Front-end Developer
                    </div>
                </div>
                <section class="header__contacts">
                    <ul class="contacts-list">
                        <li class="contacts-list__item">
                            <a href="">
                                <i class="fas fa-map-marker-alt"></i>
                                Warsaw, Mazowieckie, Poland
                            </a>
                        </li>
                        <li class="contacts-list__item">
                            <a href="mailto:severyna.anna@gmail.com">
                                <i class="fas fa-globe"></i>
                                severyna.anna@gmail.com
                            </a>
                        </li>

                        <li class="contacts-list__item">
                            <a href="">
                                <i class="fas fa-phone-alt"></i>
                                +48530057475
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </header>
    </div>
    <body>
      <aside>
        <div class="column">
          <div id="profile_info">
            <h2 style="margin:30px;"><span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x"style="color:#394F8E"></i>
            <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i></span>
            </i>Profile Info</h2>
            <p class="description" style="margin-left: 80px; margin-right:50px;font:Montserrat"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div if="interests">
              <h2 style="margin:30px;"><span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x"style="color:#394F8E"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
              </span></i>Interests</h2>
              <div class="icon-bar" style="margin-left:100px;">
                <span class="fa-stack fa-1x" style="margin-right:10px;">
                  <i class="fa fa-circle fa-stack-2x"style="color:#394F8E;"></i>
                  <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                </span>

                <span class="fa-stack fa-1x" style="margin-right:10px;">
                  <i class="fa fa-circle fa-stack-2x"style="color:#394F8E"></i>
                  <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                </span>

                <span class="fa-stack fa-1x" style="margin-right:10px;">
                  <i class="fa fa-circle fa-stack-2x"style="color:#394F8E"></i>
                  <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                </span>
                <h5>Music&emsp;&nbsp;&nbsp;Gaming&emsp;&nbsp;Bicycle</h5>
              </div>
          </div>
          <div id="reference">
            <h2 style="margin:30px;"><span class="fa-stack fa-1x">
              <i class="fa fa-circle fa-stack-2x"style="color:#394F8E"></i>
              <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
            </span>
            </i>Reference</h2>

            <div class="rightbox">
              <div class="rb-container">
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      1999 - Present
                    </div>
                    <div class="item-title" style="color:#394F8E">Deviserweb</div>
                    <div class="item-title">CEO</div>

                  </li>
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      2000-2012
                    </div>
                    <div class="item-title" style="color:#394F8E">John Smith</div>
                    <div class="item-title">Software developer</div>

                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div id="awards">
              <h2 style="margin:30px;"><span class="fa-stack fa-1x">
              <i class="fa fa-circle fa-stack-2x"style="color:#394F8E"></i>
              <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
            </span></i>Awards</h2>

              <ul style="list-style-type:none;">
                <li>Illustration award</li>
                <li>Webdesign award</li>
                <li>Elite award 2019</li>
              </ul>
          </div>


          <div id="portfolio">
            <h2 style="margin-left:420px; margin-top:-1080px"><span class="fa-stack fa-1x">
              <i class="fa fa-circle fa-stack-2x"style="color:#394F8E"></i>
              <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i></span> </i></h2>
              <h2 class = "portf" style="margin-left:490px; margin-top:-60px">Portfolio<h2>
          </div>



          <div class="rectangle" style="margin-left:470px; margin-top:100px">
            <svg>
              <rect id="box" x="0" y="0" width="217" height="150"/>
            </svg>
          </div>
          <a href="">
            <button class="btn" style="margin-left:470px; top:-100px; font:'Montserrat'">Converter&nbsp;iPod&nbsp;Video<br>UX&nbsp;Design</button>
          </a>


          <div class="rectangle" style="margin-left:870px; margin-top:-225px">
            <svg>
              <rect id="box" x="0" y="0" width="217" height="150"/>
            </svg>
          </div>
            <a href="">
              <button class="btn" style="margin-left:870px; top:-100px; font:'Montserrat'">The&nbsp;Skinny&nbsp;On&nbsp;LSD<br>Web&nbsp;Typography</button>
            </a>


            <div class="rectangle" style="margin-left:470px; margin-top:100px">
              <svg>
                <rect id="box" x="0" y="0" width="217" height="150"/>
              </svg>
            </div>
            <a href="">
              <button class="btn" style="margin-left:470px; top:-100px; font:'Montserrat'">The&nbsp;Best&nbsp;Answers<br>Graphics&nbsp;Desigh</button>
            </a>


            <div class="rectangle" style="margin-left:870px; margin-top:-225px">
              <svg>
                <rect id="box" x="0" y="0" width="217" height="150"/>
              </svg>
            </div>
            <a href="">
              <button class="btn" style="margin-left:870px; top:-100px; font:'Montserrat'">3&nbsp;Simple&nbsp;Ways&nbsp;To&nbsp;Save<br>UX&nbsp;Design</button>

            </a>


            <div class="rectangle" style="margin-left:470px; margin-top:100px">
              <svg>
                <rect id="box" x="0" y="0" width="217" height="150"/>
              </svg>
            </div>
            <a href="">
              <button class="btn" style="margin-left:470px; top:-100px; font:'Montserrat'">Life&nbsp;Advice&nbsp;Looking<br>Web&nbsp;Desigh</button>
            </a>



            <div class="rectangle" style="margin-left:870px; margin-top:-225px">
              <svg>
                <rect id="box" x="0" y="0" width="217" height="150"/>
              </svg>
            </div>
            <a href="">
              <button class="btn" style="margin-left:870px; top:-100px; font:'Montserrat'">How&nbsp;To&nbsp;Build&nbsp;A&nbsp;PC<br>Graphics&nbsp;Design</button>
            </a>
      </body>






      <footer>
        <span style="font:'Montserrat'">You can write me on severyna.anna@gmail.com or call +48530057475</span>

      </footer>



      <script src="https://kit.fontawesome.com/e323a73990.js" crossorigin=""></script>

</html>
